POSTGRES_DB=water_lab
POSTGRES_USER=water_lab_user
POSTGRES_PASSWORD=change_this_password
API_AUTH_TOKEN=ta_cle_api
OCR_SPACE_API_KEY=ta_cle_ocr_space
DATABASE_URL=
LAB_USERNAME=inovie_lab
LAB_PASSWORD=

MLFLOW_TRACKING_URI=

USER_SESSION_DURATION_HOURS=8

GRAFANA_SMTP_USER=ton-adresse@gmail.com
GRAFANA_SMTP_PASSWORD=mot-de-passe-application